# Next.js build outputs
.next/
out/

# Python
__pycache__/
*.pyc

# Node modules
node_modules/

# OS files
.DS_Store

# ENV files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/

# VSCode
.vscode/

# ML model files (optional)
*.pt
*.h5
*.pth
*.onnx

# Large media
*.mp4
*.mov
*.wav
*.mp3